<%- include('partials/header') %>
<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="box">


<%  newListItems.forEach(function(item){ %>


    <div class="item">

      <p><%=item.emaildc%></p>
      <a href="/<%=item._id%>">Open</a>
    </div>


<%  }) %>







<%- include('partials/footer') %>
